<div id="d01">
    <p id="p01"> You are logged in as a doctor !</p>
</div>

<div id="d02">
    <p> Fill in the pacient's medical data : </p>
</div>

<div id="d03">
    <div id="d04">
        <p> Age </p>
        <input id="in01" type="number" [formControl]="age">

        <p> Sex </p>
        <input id="in02" type="number" [formControl]="sex">
        <p> Chest pain type </p>
        <input id="in03" type="number" [formControl]="cpt">
        <p> Resting blood pressure </p>
        <input id="in04" type="number" [formControl]="rbp">
        <p> Serum cholestoral in mg/dl </p>
        <input id="in05" type="number" [formControl]="sc">
        <p> Fasting blood sugar > 120 mg/dl </p>
        <input id="in06" type="number" [formControl]="fbs">
        <p> Resting electrocardiographic results </p>
        <input id="in07" type="number" [formControl]="rer">
    </div>

    <div id="d05">
        <p> Maximum heart rate achieved </p>
        <input id="in08" type="number" [formControl]="mhra">
        <p> Exercise induced angina </p>
        <input id="in09" type="number" [formControl]="eia">
        <p> ST</p>
        <input id="in10" type="number" [formControl]="oldpeak">
        <p> The slope of the peak exercise ST segment </p>
        <input id="in11" type="number" [formControl]="tsotpe">
        <p> Number of major vessels (0-3) colored by flourosopy </p>
        <input id="in12" type="number" [formControl]="nomv">
        <p> Thalassemia </p>
        <input id="in13" type="number" [formControl]="thatl">
        <p></p>
        <button id="b01" (click)="processData()"> Process data </button>
    </div>
    <div id="d06">
        <p> Errors </p>
        <div id="erdiv">
            <div *ngIf="age.invalid && (age.dirty || age.touched)">
                <div *ngIf="age.errors.pattern">
                    The value of the "Age" field must be in the range 0-99 !
                </div>
            </div>
            <div *ngIf="sex.invalid && (sex.dirty || sex.touched)">
                <div *ngIf="sex.errors.pattern">
                    The value of the "Sex" field must be 0 = female or 1 = male!
                </div>
            </div>
            <div *ngIf="cpt.invalid && (cpt.dirty || cpt.touched)">
                <div *ngIf="cpt.errors.pattern">
                    The value of the "Chest pain type" field must have one of the following values ​​0, 1, 2 or 3!
                </div>
            </div>
            <div *ngIf="rbp.invalid && (rbp.dirty || rbp.touched)">
                <div *ngIf="rbp.errors.pattern">
                    The value of the "Resting blood pressure" field must be in the range 0-999 !
                </div>
            </div>
            <div *ngIf="sc.invalid && (sc.dirty || sc.touched)">
                <div *ngIf="sc.errors.pattern">
                    The value of the "Serum cholestoral in mg/dl" field must be in the range 0-999 !
                </div>
            </div>
            <div *ngIf="fbs.invalid && (fbs.dirty || fbs.touched)">
                <div *ngIf="fbs.errors.pattern">
                    The value of the "Fasting blood sugar > 120 mg/dl" field must be 0 = not exceeded or 1 = exceeded!
                </div>
            </div>
            <div *ngIf="rer.invalid && (rer.dirty || rer.touched)">
                <div *ngIf="rer.errors.pattern">
                    The value of the "Resting electrocardiographic results" field must have one of the following values
                    0, 1, or 2!
                </div>
            </div>
            <div *ngIf="mhra.invalid && (mhra.dirty || mhra.touched)">
                <div *ngIf="mhra.errors.pattern">
                    The value of the "Maximum heart rate achieved" field must be in the range 0-999 !
                </div>
            </div>
            <div *ngIf="eia.invalid && (eia.dirty || eia.touched)">
                <div *ngIf="eia.errors.pattern">
                    The value of the "Exercise induced angina" field must be 0 = false or 1 = true!
                </div>
            </div>
            <div *ngIf="oldpeak.invalid && (oldpeak.dirty || oldpeak.touched)">
                <div *ngIf="oldpeak.errors.pattern">
                    The value of the "ST" field must have values ​​between 0.0 - 7.0!
                </div>
            </div>
            <div *ngIf="tsotpe.invalid && (tsotpe.dirty || tsotpe.touched)">
                <div *ngIf="tsotpe.errors.pattern">
                    The value of the "The slope of the peak exercise ST segment" field must have one of the following
                    values 0, 1, or 2!
                </div>
            </div>
            <div *ngIf="nomv.invalid && (nomv.dirty || nomv.touched)">
                <div *ngIf="nomv.errors.pattern">
                    The value of the field "Number of major vessels (0-3) colored by flourosopyNumber of major vessels
                    (0-3) colored by flourosopy" must have one of the following values
                    0, 1, 2 or 3!
                </div>
            </div>
            <div *ngIf="thatl.invalid && (thatl.dirty || thatl.touched)">
                <div *ngIf="thatl.errors.pattern">
                    The value of the "Thalassemia" field must have one of the following values
                    0, 1, 2 or 3!
                </div>
            </div>
        </div>
        <button id="b02" (click)="getDiagnosisForMedicalRecord()"> Get diagnosis </button>
        <p id="p02"> Diagnosis </p>
        <input id="in14" type="text" [formControl]="res">
        <p id="p03"> Accuracy </p>
        <input id="in15" type="text" [formControl]="acc">
    </div>
</div>